html {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.page-color {
  background-color: #3b97d4;
  color: #ffffff;
}

a.page-link-color:link {
  color: #62c0ff;
}

a.page-link-color:visited {
  color: #d781ff;
}

a.page-link-color:hover {
  color: #ffffff;
}

.bar-color {
  background-color: #215f88;
  color: #ffffff;
}

.common-text-panel {
  color: #ffffff;
  background-color: #001c2e;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  /* to clear top header bar */
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.error-div {
  background-color: red;
  color: white;
  border: 1px solid black;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.output-div {
  background-color: #611303;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.input-div {
  background-color: #1c5a17;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

table {
  border-spacing: 0px;
}

td.input-td {
  border: 1px solid #1c5a17;
}
td.input-td-vert-gap {
  border-right: 6px solid #1c5a17;
}
td.input-td-horiz-gap {
  border-bottom: 6px solid #1c5a17;
}

input.input-input {
  width: 1.79em;
  height: 1.85em;
  background-color: white;
  border: 0px;
}
/* Apple iPhone size adjustment (Android not tested) */
input.input-input-mobile-width {
  width: 1.5em;
}


td.output-td {
  background-color: #ddb5ae;
  border: 2px  solid #611303;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 100%;
  width: 0.45em;
  height: 1.5em;
}
td.output-td-vert-gap {
  border-right: 8px solid #611303;
}
td.output-td-horiz-gap {
  border-bottom: 8px solid #611303;
}

.debug-div {
  background-color: #4b4b4b;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.div-height-10 {
  height: 10px;
}

.div-height-20 {
  height: 20px;
}

.git-link-div {
  margin-top: 10px;
}
